.side-bar {
    font-family: 'Siemreap';
    font-weight: bold;
    /* font-size: 12pt !important; */
    color: white !important;
}
body, html {
 font-family: 'Siemreap' !important;
}
.site-card-wrapper{
    margin-top: 5px !important;
}

.ant-card-body{
    padding: 10px !important;
}
.ant-page-header-heading-title{
    font-family: Moul;
    font-weight: normal !important;
    color: #1983e6 !important;
}
.Info-table{
    background: "#9cab18" !important
}
.create-request{
    position: relative;
}
.create-request button{
   position: absolute;
   right: 50px;
}

.ant-drawer-wrapper-body{
    background-color: #c8d556 !important;
}

.login-form{
    width: 100%;
    height: 100vh!important;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .Login-user-icon{
    width: 100%;
    font-size: 50pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #1890ff;
  }

  .create_Btn{
      position: absolute;
      right: 0 !important;
  }

  .printIcon path {
      color: white !important;
      stroke: white !important;
  }

  .reqeustPrint{
    justify-content: center;
    align-items: center;
    
  }
  .display{
      display: none;
  }
  .displaying{
      display: block;
  }
  /* .ant-table-cell{
      
  } */

  /* .table-customize tbody > tr > td{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  } */

  .table-customize tbody >tr > td{
    font-size: 16px!important;
    padding: 5px 8px ;
  }

  .table-customize thead >tr > th{
    font-size: 16px!important;
    padding: 10px 10px ;
  }

  .row-danger td{
      background-color: #FFDFD8 !important;
      /* color: white !important; */
  }
  .image-card{
      object-fit: cover !important;
      height: 180px !important;
  }
  .ant-form-item-explain-error{
      margin-top: 5px !important;
      margin-bottom: 5px !important;
  }

  .card-report{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* padding: 10px!important; */
    /* max-height: 350px!important; */
    /* overflow-y: scroll; */
  }

  .drawer-phone .ant-drawer-wrapper-body{
      background-color: rgb(180 217 255)!important;
  }